*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Open Sans', sans-serif;
scroll-behavior: smooth;
}

/*SECTIONS*/

section{
    height: 100svh;
}

#home{
    background-image: url("../photos/hatter.png");
    background-size: cover;
    background-position: center;
    background-size: cover;
}



#about{
    height: 100%;
    background-image: linear-gradient(rgb(56, 32, 0), rgb(30, 30, 30));
}

#services{
    height: 100%;
    background-color: rgb(30, 30, 30);
}

#contact{
    height: 100%;
    background-image: linear-gradient(rgb(30, 30, 30), rgb(20, 0, 0));
}


/*HOME SECTION*/

.herobox{
    height: calc(100% - 60px);
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero {
    display: flex;
    position: relative;
    background: rgba(139, 84, 39, 0.750);
    box-shadow: 0 5px 15px  rgba(0,0,0,.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 30px;
    border-radius: 5px;
}

#hero p {
    font-family: 'Barlow', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-shadow: 0 5px 5px #000;
}

#hero h1 {
    font-family: 'Abril Fatface', cursive;
    text-shadow: 0 5px 5px #000;
    margin: 0 0 20px;
    padding: 0;
    font-size: clamp(1rem, 2vw + 1rem ,3rem);
    text-transform: uppercase;
}

.herobox img{
    top: 50px;
    position: relative;
    max-width: 400px;
}


/*LEFELE NYÍL*/

.arrow-container {
    position: absolute;
    display: flex;
    width: 100%;
    height: 130px;
    bottom: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .circle {
    position: absolute;
    top: -15px;
    left: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-color: white;
    border-style: solid;
    border-width: 3px;
    opacity: 0.8;
    animation: circle-animation 1.4s infinite;
    box-shadow: 3px -3px 4px 0px; 
  }

  .arrow {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: white;
    border-width: 4px 4px 0 0;
    animation: arrow-animation 1.4s infinite;
    box-shadow: 3px -3px 4px 0px; 
  }
  
  @keyframes arrow-animation {
    0% {
      transform: rotate(135deg) translateY(20px) translateX(-20px);
      opacity: 1.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(135deg) translateY(0px) translateX(0px);
      opacity: 0;
    }
  }

  @keyframes circle-animation {
    0% {
      transform: scale(1.5);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1.5);
    }
  }

li{
    list-style: none;
    display: flex;
    position: relative;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

.links .active{
    padding: 0 1rem;
    display: flex;
    align-items: center;
    height: 60px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    
}

.underline:after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: rgb(255, 136, 0);
    transition: width 0.3s;
    bottom: 15px;
}

.underline:hover::after{
    width: 80%;
    transition: width 0.3s;
}


.underline:hover {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    height: 60px;
    color: rgb(255, 136, 0);
    transition: 0.7s;
}

header{
    position: relative;
}

.links a {
    text-decoration: none;
    font-family: 'Black Ops One', cursive;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    height: 60px;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}

.navbar {
    backdrop-filter: blur(15px);
    z-index: 900;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, rgb(184, 104, 0), rgb(46, 26, 0));
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    justify-content: flex-end;
    padding: 0 2rem 0 0;
}
.logo a{
    font-family: 'Fascinate', cursive;
    display: flex;
    align-items: center;
    height: 60px;
    width: 250px;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    padding: 0 0.6rem;
    position: relative;
}

.logo a:hover{
    display: flex;
    align-items: center;
    height: 60px;
    width: 250px;
    font-size: 1.5rem;
    padding: 0 0.6rem;
    color: rgb(46, 26, 0);
    text-decoration: underline;
    transition: 0.5s;
}

.logo{
    display: flex;
    position: relative;
    height: 100%;
    width: 250px;
    justify-content: flex-start;
    align-items: flex-start;
}

.links{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
} 

.navbar .toggle_btn{
    z-index: 999;
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}


/*DROPDOWN MENU*/
.dropdown_menu{
    z-index: 2;
    overflow: auto;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 0;
    width: 300px;
    background: linear-gradient(to right, rgb(184, 104, 0), rgb(46, 26, 0));
    backdrop-filter: blur(15px);
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    border: none;
    height: 100%;
}

.dropdown_menu a{
    font-size: clamp(1rem, 2vw + 1rem ,3rem);
    font-family: 'Black Ops One', cursive;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
}

.dropdown_menu a:hover{
    color: rgb(255, 136, 0);
    transition: 0.7s;
}

.dropdown_menu a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: rgb(255, 136, 0);
    transition: width 0.3s;
    bottom: 15px;
}

.dropdown_menu a:hover::after{
    width: 80%;
    transition: width 0.3s;
}

.dropdown_menu li{
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 0.32rem 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*ABOUT RÉSZ*/

.about_box{
    padding:85px 5% 0 5%;
}

.about_box_text{
    display: flex;
    position: relative;
    background: rgba(0, 0, 0, 0.527);
    box-shadow: 0 5px 15px  rgba(0,0,0,.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 20px;
    border-radius: 5px;

}
.about_box_text p{
    text-align: justify;
    font-family: 'Barlow', sans-serif;
    margin: 0;
    padding: 0;
    font-size: clamp(0.5rem, 1vw + 0.5rem ,1.1rem);
    text-shadow: 0 5px 5px #000;
}

.about_box_text h2{
    text-align: center;
    font-family: 'Forum', cursive;
    text-shadow: 0 5px 5px #000;
    margin: 0 0 20px;
    padding: 0;
    font-size: clamp(1rem, 1.5vw + 1rem ,2.3rem);
    text-transform: uppercase;
}

.about_picture_container{
    padding: 0 5%;
    margin-top: 110px;
    padding-bottom: 5%;
}

.about_picture{
    display: flex;
    background: rgba(0, 0, 0, 0.527);
    box-shadow: 0 5px 15px  rgba(0,0,0,.6);
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    border-radius: 5px;
}

.about_p{
    color: #ffffff;
    flex: 1 1 60%;
    flex-wrap: wrap;
    text-align: justify;
    font-family: 'Barlow', sans-serif;
    margin: 0;
    padding: 0;
    font-size: clamp(0.5rem, 1vw + 0.5rem ,1.1rem);
    text-shadow: 0 5px 5px #000;
}

.about_p h2{
    text-align: center;
    font-family: 'Forum', cursive;
    text-shadow: 0 5px 5px #000;
    margin: 10px 0 0 0;
    padding: 0;
    font-size: clamp(0.7rem, 1vw + 0.7rem ,2rem);
}

.images img{
    max-width: 45%;
    height: auto;
    margin: 5px;
    box-shadow: 0 3px 10px  rgba(0, 0, 0, 0.5);
}

.images{
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1600px) {
    .images{
        width: 100%;
    }
}

/*SERVICES RÉSZ*/

.services_container{
    padding: 0 8%;
    color: white;
    padding-bottom: 6%;
    padding-top: 6%;
}

.service h2{
    font-weight: 600;
    margin-bottom: 8px;
    font-family: 'Forum', cursive;
}

.services_container h1{
    font-size: clamp(1rem, 2vw + 1rem ,3rem);
    text-align: center;
    padding-top: 80px;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
    font-family: 'Forum', cursive;
}

.services_container h1::after{
    content: '';
    background: rgb(255, 0, 0);
    width: 250px;
    height: 4px;
    bottom: -6px;
    right: 50%;
    position: absolute;
    transform: translateX(50%);
}

.services_container .row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.row .service{
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: clamp(0.5rem, 1vw + 0.5rem ,1.1rem);
    cursor: pointer;
    background: linear-gradient(rgb(30, 30, 30, 0.5), rgb(20, 0, 0, 0.5));
}

.service i{
    font-size: 40px;
    margin-bottom: 10px;
    color: rgb(255, 0, 0);
}

.service:hover{
    background: white;
    color: rgb(0, 0, 0);
    transition: 0.5s;;
    transform: scale(1.05);
}

.service:hover i{
    color:rgb(255, 136, 0);
    transition: 0.5s;
}

.service p{
    font-family: 'Barlow', sans-serif;
}

/*CONTACT RÉSZ*/

.MainContainer{
    display: flex;
    justify-content:  center;
    align-items: center;
    height: 100%;
    padding-top: 70px;
}
.container{
    width: 80%;
    padding: 20px;
    margin-top: 25px;
}
.container h2{
    width: 100%;
    color: white;
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Barlow', sans-serif;
}
.container .row100{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
.container .row100 .col{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 10px;
    transition: 0.5s;
}
.container .row100 .inputBox{
    position: relative;
    width: 100%;
    height: 40px;
    color: white;
}
.container .row100 .inputBox input,
.container .row100 .inputBox.textarea textarea
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color: black;
}
.container .row100 .inputBox .text{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}
.container .row100 .inputBox input:focus + .text,
.container .row100 .inputBox input:valid + .text{
    top: -35px;
    left: -10px;
}
.container .row100 .inputBox .line{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: white;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}

.container .row100 .inputBox input:focus ~ .line,
.container .row100 .inputBox input:valid ~ .line{
    height: 100%;
}

.container .row100 .inputBox.textarea{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}

.container .row100 .inputBox.textarea textarea{
    height: 100%;
    resize: none;
}

.container .row100 .inputBox textarea:focus + .text,
.container .row100 .inputBox textarea:valid + .text{
    top: -35px;
    left: -10px;
}

.container .row100 .inputBox textarea:focus ~ .line,
.container .row100 .inputBox textarea:valid ~ .line{
    height: 100%;
}


input[type="submit"]
{
    border: none;
    padding: 7px 35px;
    cursor: pointer;
    outline: none;
    background: white;
    color: black;
    font-size: 18px;
    border-radius: 2px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.container span{
    font-family: 'Barlow', sans-serif;
}

/*FOOTER*/

.contact_container{
    width: 100%;
    display: flex;
    padding: 5px 5%;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border-top: solid 1px white;
}

.contact_row{
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}

.contact_row div{
    padding: 2% 3% 2% 3%;
    /*box-shadow: 0 3px 3px rgba(255, 255, 255, 0.4); */
    border-bottom: solid 0.5px #ffffff;
    margin: 10px;
    display: flex;
    align-items: center;
}

/*RESPONSIVE*/

@media (max-width: 992px) {
    .about_picture_container{
        margin-top: 50px;
    }

    .navbar .links{
        display: none;
    }

    .navbar .action_btn{
        display: block;
        z-index: 999;
    } 

    .navbar{
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(50px);
    }

    .opened{
        box-shadow: none;
    }

    .logo{
        width: 100%;
    }

    .navbar .toggle_btn{
        display: block;
        z-index: 999;
    }

    .dropdown_menu{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}